<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>{{ post.title }}</h2>
        <p>{{ post.mini_text }}</p>
        <p>Категория - {{ post.category }}</p>
        <p>{{ post.text }}</p>
        Теги-{% for tag in post.tags.all %}
                    {{ tag.name }}
                {% endfor %} 
        <br>             
        <small>Автор: {{ post.author }} - {{ post.published_date }}</small>
        <hr>

        <h4>Коментарии</h4>
        {% for comm in post.comment %}
          Пользователь - {{ comm.author }} <br>
          {{ comm.text }} <br>
          Добавлен - {{ comm.create_date }}
        {% endfor %}
</body>
</html>